header .header-nav.scroll {
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}
.header-nav.scroll li a {
  color: rgba(0, 0, 0, 0.7);
}

.header-nav.scroll li.active a,
.header-nav.scroll li a:hover {
  color: #000;
}
/* header .header-nav,
header .header-nav li a {
  transition: 0.3s;
} */
/* banner上内容 */
.flex-caption {
  zoom: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  padding: 10px 25px;
  text-align: center;
  color: #fff;
}

.flex-caption h1 {
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 80px;
  /* text-transform: uppercase; */
}

.flex-caption p {
  margin-top: 12px;
}

/* 分页器 */
.swiper-pagination {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 50px;
  /* --swiper-theme-color: #ff6600;
  --swiper-pagination-color: #00ff33; */
  /* 两种都可以 */
}
.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 2px solid #fff;
}
.swiper-pagination .swiper-pagination-bullet-active {
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 2px solid #fff;
}
.swiper-pagination .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 8px;
  background: #fff;
  border-radius: 50% 50% 0 0;
}
/* 活动策划 */
.features img {
  width: 100%;
}

.features .media-heading {
  margin-bottom: 10px;
  color: #333;
  font-size: 24px;
}

.features .media.service-box {
  margin: 0px 0 25px;
  padding: 30px 20px;
  background: #fff;
  border: 0px;
  box-shadow: 0px 8px 244px 0px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.media.service-box {
  margin: 25px 0 36px;
  padding: 20px 15px 10px;
  background: #ffffff;
  overflow: hidden;
  border-bottom: 2px solid #e0e0e0;
}

.media {
  margin-top: 15px;
}

/* 服务范围 */
.wrap-serve {
  position: relative;
}

.wrap-text-box {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  width: 42%;
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0px 8px 244px 0px rgba(0, 0, 0, 0.08);
}

.wrap-serve-bg {
  position: absolute;
  top: -15%;
  right: 10%;
  width: 102%;
  height: 124%;
  background: #dae038;
}

.wrap-serve-2 {
  /* padding: 10% 0 5% 12%; */
}

.wrap-text-box-2 {
  left: -40%;
  text-align: right;
  width: 58%;
}
.wrap-serve-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 30px;
  margin-top: 20px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.wrap-serve-btn:hover {
  background: #368746;
}

/* 介绍页 */
.about-box:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.about-right {
  display: inline-block;
  vertical-align: middle;
}

.col-features-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-text-box {
  width: 280px;
  font-size: 16px;
  line-height: 30px;
}
.features-text-box p {
  margin: 0;
}

.features-text-box h4 {
  margin: 0;
  padding: 4px 0 20px;
  font-size: 20px;
}

.img-box-shadow {
  position: relative;
  display: inline-block;
}
.img-box-shadow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 100%;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0, #fff 70%);
}
.img-box-shadow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #fff 70%);
}
